In [1]:
import qlib

In [9]:
provider_uri = "/Users/dabai/liepin/study/llm/Financial_QA/data/qlib_data/zh_qlib"
config = {
    "qlib_init": {
        "provider_uri": provider_uri,
        "region": "cn",
        "exp_manager": {
            "class": "MLflowExpManager",
            "module_path": "qlib.workflow.expm",
            "kwargs": {
                "uri": "http://127.0.0.1:5001",
                "default_exp_name": "qlib_experiment",
            },
        },
    },
}

In [11]:
qlib.init(
    provider_uri=config["qlib_init"]["provider_uri"],
    region=config["qlib_init"]["region"],
    exp_manager=config["qlib_init"]["exp_manager"],
)

[57159:MainThread](2025-04-09 16:42:23,553) INFO - qlib.Initialization - [config.py:420] - default_conf: client.
[57159:MainThread](2025-04-09 16:42:23,555) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.
[57159:MainThread](2025-04-09 16:42:23,555) INFO - qlib.Initialization - [__init__.py:76] - data_path={'__DEFAULT_FREQ': PosixPath('/Users/dabai/liepin/study/llm/Financial_QA/data/qlib_data/zh_qlib')}

In [ ]:
# 初始化 dataloader
{'$close':'close','$high':'high'}

In [27]:
# 导入QlibDataLoader
from qlib.data.dataset.loader import QlibDataLoader
# 加载原始特征，比如收盘价、最高价, QlibDataLoader config 参数可以是一个或多个特征名称，也可以是一个列表
qdl = QlibDataLoader(config=['Ref($close, -2)', 'Ref($close, -1)', '$close', '$high', "Ref($close, -2)/Ref($close, -1) - 1"])  # list[str]
# qdl = QlibDataLoader(config=(['$close', '$high'], ['close', 'high']))  # tuple[list, list], 表达式和别名的映射
# qdl = QlibDataLoader(config= {'feature1':(['$close', '$open'],['close', 'open']),'feature2':['$high']} )  # dict[str, list/tuple], 分组的特征，key 为分组名称
# qdl = QlibDataLoader(config= {'feature1':['$close'],'feature2':['$high']} )  # dict[str, list], 分组的特征，key 为分组名称
df_temp = qdl.load(instruments=['SH000001'], start_time='20190101', end_time='20191231') # 可以通过freq参数设置周期，默认freq='day'
print(df_temp.columns)
df_temp.head(20)

Index(['Ref($close, -2)', 'Ref($close, -1)', '$close', '$high',
       'Ref($close, -2)/Ref($close, -1) - 1'],
      dtype='object')

,,"Ref($close, -2)","Ref($close, -1)",$close,$high,"Ref($close, -2)/Ref($close, -1) - 1"
datetime,instrument,,,,,
2019-01-02,SH000001,2514.867920,2464.362061,2465.291016,2500.278076,0.020494
2019-01-03,SH000001,2533.087891,2514.867920,2464.362061,2488.479004,0.007245
2019-01-04,SH000001,2526.461914,2533.087891,2514.867920,2515.315918,-0.002616
2019-01-07,SH000001,2544.343994,2526.461914,2533.087891,2536.977051,0.007078
2019-01-08,SH000001,2535.097900,2544.343994,2526.461914,2531.344971,-0.003634
2019-01-09,SH000001,2553.831055,2535.097900,2544.343994,2574.406982,0.007390
2019-01-10,SH000001,2535.764893,2553.831055,2535.097900,2551.824951,-0.007074
2019-01-11,SH000001,2570.343994,2535.764893,2553.831055,2554.785889,0.013637
2019-01-14,SH000001,2570.422119,2570.343994,2535.764893,2556.292969,0.000030
2019-01-15,SH000001,2559.636963,2570.422119,2570.343994,2571.500977,-0.004196
2019-01-16,SH000001,2596.004883,2559.636963,2570.422119,2574.236084,0.014208
2019-01-17,SH000001,2610.509033,2596.004883,2559.636963,2582.555908,0.005587
2019-01-18,SH000001,2579.704102,2610.509033,2596.004883,2598.883057,-0.011800
2019-01-21,SH000001,2581.003906,2579.704102,2610.509033,2618.979980,0.000504
2019-01-22,SH000001,2591.693115,2581.003906,2579.704102,2609.642090,0.004141
2019-01-23,SH000001,2601.722900,2591.693115,2581.003906,2589.511963,0.003870
2019-01-24,SH000001,2596.976074,2601.722900,2591.693115,2597.289062,-0.001824
2019-01-25,SH000001,2594.252930,2596.976074,2601.722900,2617.001953,-0.001049
2019-01-28,SH000001,2575.574951,2594.252930,2596.976074,2630.318115,-0.007200
2019-01-29,SH000001,2584.572021,2575.574951,2594.252930,2601.735107,0.003493

In [32]:
from qlib.workflow import R

with R.start(experiment_name="tutorial_exp"):
    data = df_temp
    R.save_objects(test_data_df=df_temp)

[57159:MainThread](2025-04-10 10:11:37,365) INFO - qlib.workflow - [exp.py:258] - Experiment 2 starts running ...
[57159:MainThread](2025-04-10 10:11:37,372) INFO - qlib.workflow - [recorder.py:345] - Recorder 95c4bc41350e4dc5b7f13e4af61fcb6b starts running under Experiment 2 ...
[57159:MainThread](2025-04-10 10:11:37,436) INFO - qlib.timer - [log.py:127] - Time cost: 0.002s | waiting `async_log` Done

🏃 View run mlflow_recorder at: http://127.0.0.1:5001/#/experiments/2/runs/95c4bc41350e4dc5b7f13e4af61fcb6b
🧪 View experiment at: http://127.0.0.1:5001/#/experiments/2